In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv( "mail_data1.csv")

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df['label_tag']=df["Category"].map({"ham":0,"spam":1})

In [5]:
df.head()

  Category                                            Message  label_tag
0      ham  Go until jurong point, crazy.. Available only ...          0
1      ham                      Ok lar... Joking wif u oni...          0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3      ham  U dun say so early hor... U c already then say...          0
4      ham  Nah I don't think he goes to usf, he lives aro...          0

In [6]:
y = df.label_tag

In [7]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: label_tag, Length: 5572, dtype: int64

In [8]:
X=df.loc[:, ['Message','label_tag']]

In [9]:
X

                                                Message  label_tag
0     Go until jurong point, crazy.. Available only ...          0
1                         Ok lar... Joking wif u oni...          0
2     Free entry in 2 a wkly comp to win FA Cup fina...          1
3     U dun say so early hor... U c already then say...          0
4     Nah I don't think he goes to usf, he lives aro...          0
...                                                 ...        ...
5567  This is the 2nd time we have tried 2 contact u...          1
5568               Will ü b going to esplanade fr home?          0
5569  Pity, * was in mood for that. So...any other s...          0
5570  The guy did some bitching but I acted like i'd...          0
5571                         Rofl. Its true to its name          0

[5572 rows x 2 columns]

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.15, random_state=8)

In [11]:
X_train

                                                Message  label_tag
2718                                     Okie.. Thanx..          0
4958            I'm vivek:)i got call from your number.          0
2153  Hi kindly give us back our documents which we ...          0
1456  Summers finally here! Fancy a chat or flirt wi...          1
1960                            Howz that persons story          0
...                                                 ...        ...
2181  Babe ! How goes that day ? What are you doing ...          0
2409          Dear where you will be when i reach there          0
2033  Yes, i'm small kid.. And boost is the secret o...          0
1364  Yetunde, i'm sorry but moji and i seem too bus...          0
4547  Never try alone to take the weight of a tear t...          0

[4736 rows x 2 columns]

In [12]:
y_train

2718    0
4958    0
2153    0
1456    1
1960    0
       ..
2181    0
2409    0
2033    0
1364    0
4547    0
Name: label_tag, Length: 4736, dtype: int64

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
feature_extraction  = TfidfVectorizer(min_df = 1,stop_words = 'english', lowercase = 'True')

In [15]:
x_train_feature = feature_extraction.fit_transform(X_train.Message)

In [16]:
print(x_train_feature.shape)

(4736, 7713)

In [17]:
print(x_train_feature)

  (0, 6801)	0.6846768515636633
  (0, 4912)	0.7288467664282178
  (1, 4846)	0.47791074416319484
  (1, 3188)	0.3945908594281638
  (1, 7296)	0.7847925676693965
  (2, 6436)	0.454877518844816
  (2, 4167)	0.376864970532425
  (2, 6550)	0.454877518844816
  (2, 2388)	0.454877518844816
  (2, 3941)	0.41892579320428125
  (2, 3416)	0.24846187297553401
  (3, 3395)	0.2978781888372541
  (3, 6491)	0.161459574677351
  (3, 7070)	0.1545603352851975
  (3, 4962)	0.26056323029252154
  (3, 3834)	0.2134769950942071
  (3, 2977)	0.14163135493433268
  (3, 6592)	0.25532741936383624
  (3, 5715)	0.1596715018941583
  (3, 3873)	0.12746357482902668
  (3, 4389)	0.2978781888372541
  (3, 1060)	0.2467913893469463
  (3, 7688)	0.231784301764679
  (3, 6176)	0.26056323029252154
  (3, 6047)	0.21643238341343332
  :	:
  (4734, 4563)	0.3236523696792895
  (4734, 784)	0.25900960560514685
  (4734, 7638)	0.29942964296124935
  (4734, 4471)	0.3328481299527506
  (4734, 7362)	0.2625953501142217
  (4734, 6110)	0.2625953501142217
  (4734, 1584)	0.2665230888274364
  (4734, 7394)	0.2064134688047332
  (4734, 6322)	0.18907021180224542
  (4734, 2977)	0.17183997445099664
  (4734, 5715)	0.1937279129947321
  (4734, 3873)	0.15465034174253375
  (4735, 6067)	0.30042884081823507
  (4735, 2756)	0.32279403306232934
  (4735, 2732)	0.28617423281428467
  (4735, 6730)	0.30042884081823507
  (4735, 7428)	0.30042884081823507
  (4735, 5683)	0.24955443256624008
  (4735, 6542)	0.27272703132521203
  (4735, 1920)	0.2626831840582266
  (4735, 2999)	0.2269615174086985
  (4735, 1547)	0.29038499355124964
  (4735, 7036)	0.22518499101877426
  (4735, 3373)	0.23282056383776703
  (4735, 7179)	0.3110100993543092

In [18]:
x_test_feature = feature_extraction.transform(X_test.Message)

In [19]:
print(x_test_feature)

  (0, 7458)	0.5599474779457746
  (0, 5913)	0.5157204525602583
  (0, 5219)	0.5060558382244011
  (0, 3412)	0.4054611268077462
  (1, 7478)	0.19750502991492766
  (1, 7439)	0.18766729699933413
  (1, 7394)	0.1464470151857201
  (1, 7179)	0.11376472249583655
  (1, 7028)	0.18766729699933413
  (1, 6129)	0.23615036084608085
  (1, 6029)	0.21588421080047696
  (1, 4764)	0.158989934718793
  (1, 4349)	0.24456157308101809
  (1, 4270)	0.17925608476439686
  (1, 4229)	0.2093599677255943
  (1, 3917)	0.24456157308101809
  (1, 2379)	0.2093599677255943
  (1, 2224)	0.21244048522474762
  (1, 2192)	0.12389293725373673
  (1, 2151)	0.13719798418858892
  (1, 2060)	0.19059352456699194
  (1, 1789)	0.22962611777119815
  (1, 1655)	0.16059976555582725
  (1, 1284)	0.24456157308101809
  (1, 981)	0.4187199354511886
  :	:
  (832, 4492)	0.478497098813553
  (832, 4340)	0.2537790049513543
  (832, 3502)	0.19019762568859092
  (832, 3083)	0.2136636210013656
  (832, 1753)	0.22726417841101249
  (832, 1752)	0.2136636210013656
  (832, 1747)	0.1649983499017657
  (832, 741)	0.2537790049513543
  (832, 576)	0.24204600729496695
  (832, 272)	0.18573694700385127
  (832, 110)	0.2136636210013656
  (832, 94)	0.2537790049513543
  (833, 5929)	0.7293210157225118
  (833, 3416)	0.6841716568416758
  (834, 6916)	0.30139800527133065
  (834, 5606)	0.5161552440739144
  (834, 3562)	0.496799114352997
  (834, 3416)	0.32230808532273836
  (834, 2485)	0.4385994411319337
  (834, 2151)	0.3157240484756974
  (835, 7179)	0.2716345603040595
  (835, 4837)	0.45507769989462693
  (835, 3963)	0.48715806307858145
  (835, 3009)	0.48157021001965233
  (835, 1111)	0.4998860941316421

In [20]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [21]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [22]:
models={"Multi-layer Perceptron Classification": MLPClassifier(hidden_layer_sizes=[20, 20],
                                                           learning_rate='adaptive',solver="sgd" ,random_state=8,max_iter = 2000000)}

In [23]:
for model_name, model in models.items():
    model.fit(x_train_feature, y_train)
    y_pred = model.predict(x_test_feature)
    print(f"Accuracy for {model_name} model : {accuracy_score(y_test, y_pred)}")

Accuracy for Multi-layer Perceptron Classification model : 0.9820574162679426

In [24]:
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

0.979381443298969
0.8796296296296297
0.926829268292683
0.9820574162679426

In [25]:
def predict_message(message):
    z = feature_extraction.transform(pd.Series(message))
    a = model.predict(z)
    if a==1:
        return "Spam"
    else:
        return "Ham"

In [26]:
predict_message("Subject: re  indian springs this deal is to book the teco pvr revenue . it is my understanding that tecojust sends us a check , i haven  t received an answer as to whether there is apredermined price associated with this deal or if teco just lets us know whatwe are giving . i can continue to chase this deal down if you need .")

'Ham'